# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
front/node_modules

# testing
front/coverage

# production
front/build

# misc
front/.DS_Store
front/.env
front/npm-debug.log

.idea
